[include]
	path = ~/.gitconfig.local
[user]
	name = dalyd
[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[merge]
	ff = only
	conflictStyle = zdiff3
[diff]
	colorMoved = default
[github]
	user = dalyd
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
